
h1, h2 {
    color: #127369;
    text-align: center;
    font-family:'Courier New', Courier, monospace;
}

h1 {
    color: #000;
}

/* Table Edits  */
td:first-child {
    font-style: italic;
}

tr:hover td {
    background-color: coral;
}

table {
    border: 3px solid rgb(58, 176, 158);
    margin-left: auto;
    margin-right: auto;
  }

td {
    border-top: 1px solid rgb(67, 179, 176);
    text-align: left;
}

thead {
    background-color: #8AA6A3;
    color: #000;
    font-size: larger;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

/* Divider between tables */
.solid {
    border-top: 3px solid #bbb;
}

/* center image */
.center { 
    display: block;
    height: 50%;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
}